{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
	<body>
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Change Password</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">Change Password</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-4">
						<!-- Billing Details -->
						<div class="billing-details">
							{% if msg %}
								<b style=" color: darkred;">{{msg}}</b>
							{% endif %}
							<form name="singup" method="POST" action="{% url 'change-password' %}">
								{% csrf_token %}
							<div class="section-title">
								<h3 class="title">Change Password</h3>
							</div>
							<div class="form-group">
								<input class="input" type="password" id="oldpassword" name="old-password" placeholder="Old Password">
								<span id="oldpassword_error"></span>
							</div>
							<div class="form-group">
								<input class="input" type="password" id="newpassword" name="new-password" placeholder="New Password">
								<span id="newpassword_error"></span>
							</div>
							<div class="form-group">
								<input class="input" type="password" id="cnewpassword" name="c-password" placeholder="Comfirm Password">
								<span id="newpassword_error"></span>
							</div>
							<div class="form-group">
								<div class="input-checkbox">
									<div>
										<input type="submit" name="action" class="primary-btn order-submit" value="Change Password"></input>
									</div>
								</div>
							</div>
						</div>
						<!-- /Billing Details -->

					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
	</form>
	<script>
		$("#oldpassword").change(function(){
			var oldpassword=$(this).val();
			$.ajax({
				url: '/ajax/validate_oldpassword/',
				data:{
					'oldpassword':oldpassword
				},
				datatype: 'json',
				success: function(data){
					if (!data.is_taken) {
						document.getElementById("oldpassword_error").innerHTML=" Old Password Not Match"
					}else{
						document.getElementById("oldpassword_error").innerHTML="";
					}
				}
			});
		});
	</script>
<!--- New Password--->
	<script>
		$("#cnewpassword,newpassword").change(function(){
			var cnewpassword=$(this).val();
			var newpassword=$(this).val();
			$.ajax({
				url: '/ajax/validate_cnewpassword/',
				data:{
					'cnewpassword':cnewpassword,
					'newpassword':newpassword
				},
				datatype: 'json',
				success: function(data){
					if (!data.is_taken) {
						document.getElementById("cnewpassword_error").innerHTML="Password And Comfirm Password Not Match"
					}else{
						document.getElementById("cnewpassword_error").innerHTML="";
					}
				}
			});
		});
	</script>

	</body>
</html>
{% endblock %}