{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
	<body>
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Sing Up</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">Sing Up</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-5">
						<!-- Billing Details -->
						<div class="billing-details">
							{% if msg %}
								<b style=" color: darkred;">{{msg}}</b>
							{% endif %}
							<form name="singup" method="POST" action="{% url 'singup' %}" enctype="multipart/form-data">
								{% csrf_token %}
							<div class="section-title">
								<h3 class="title">Sing Up</h3>
							</div>
							<div class="form-group">
								<select class="input" name="usertype">
									<option>--- select User Type---</option>
									<option value="buyer">Buyer</option>
									<option value="seller">Seller</option>
								</select>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="fname" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="lname" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" id="email" placeholder="Email">
								<span id="email_error"> </span>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="mobile" placeholder="mobile">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="password" placeholder="Password">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="cpassword" placeholder="Password">
							</div>
							<div class="form-group">
								<input type="file" name="profile_pic" >
							</div>
							<div class="form-group">
								<div class="input-checkbox">
									<div>
										<input type="submit" name="action" class="primary-btn order-submit" value="SING UP"></input>
									</div>
								</div>
							</div>
						</div>
						<!-- /Billing Details -->

					</div>
				</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
	</form>
	<script>
		$("#email").change(function(){
			var email=$(this).val();
			$.ajax({
				url: '/ajax/validate_email/',
				data:{
					'email':email
				},
				datatype: 'json',
				success: function(data){
					if (data.is_taken) {
						document.getElementById("email_error").innerHTML="This Email Is Alrady Exist"
					}else{
						document.getElementById("email_error").innerHTML="";
					}
				}
			});
		});
	</script>
	</body>
</html>
{% endblock %}